@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

:root{
    /* Colors */
    --colorprimary: #0d0d0e;
    --colorprimary-700: #141415;
    --colorsecondary: #FAFAFA;
    --coloraccent: #7f45e2;
    --colorgray: #b8b6b8;
    /* Fonts */
    --ff: "DM Sans", sans-serif;
    /* Sizes */
    --step--3: clamp(0.576rem, 0.5796rem + -0.0047vw, 0.5787rem);
    --step--2: clamp(0.6944rem, 0.6856rem + 0.0444vw, 0.72rem);
    --step--1: clamp(0.8333rem, 0.8101rem + 0.1159vw, 0.9rem);
    --step-0: clamp(1rem, 0.9565rem + 0.2174vw, 1.125rem);
    --step-1: clamp(1.2rem, 1.1283rem + 0.3587vw, 1.4063rem);
    --step-2: clamp(1.44rem, 1.3295rem + 0.5527vw, 1.7578rem);
    --step-3: clamp(1.728rem, 1.5648rem + 0.8161vw, 2.1973rem);
    --step-4: clamp(2.0736rem, 1.8395rem + 1.1704vw, 2.7466rem);
    --step-5: clamp(2.4883rem, 2.1597rem + 1.6433vw, 3.4332rem);
    --step-6: clamp(2.986rem, 2.5319rem + 2.2705vw, 4.2915rem);
    --h1: bold var(--step-6) var(--ff);
    --h2: bold var(--step-5) var(--ff);
    --h3: bold var(--step-4) var(--ff);
    --links: bold 18px/18px var(--ff);
    --p: var(--step-0) var(--ff);
    --subtext: var(--step--1) var(--ff);
    --transition: 0.3s ease-in-out;

}
/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
  }
  *, *:before, *:after {
    box-sizing: inherit;
}
*{
    margin: 0;
    padding: 0;
    font: inherit;
}
body{
    font-size: var(--p);
    font-family: var(--ff);
    min-height: 100vh;
    background-color: var(--colorprimary);
}
img, picture, svg, video{
    display: block;
    max-width: 100%;
}
input, textarea, button, select{
    font: inherit;
}
h1{
    font: var(--h1);
    margin-bottom: 1rem;
}
h2{
    font: var(--h2);
    margin-bottom: .7rem;
}
h3{
    font: var(--h3);
    margin-bottom: .5rem;  
}
:is(h1, h2, h3){
  text-wrap: balance;
  color: var(--colorsecondary);
}
p{
    font: var(--p);
    margin-bottom: .5rem;
    text-wrap: pretty;
}
/* Utilidades */
.links{
    font: var(--links);
    margin-top: 8px;
}
.btn{
    border: none;
    padding: 5px 10px;
    border-radius: 100vw;
    text-decoration: none;
    transition: filter 100ms ease-in;
    white-space: nowrap;
}
.btn:hover{
    filter: saturate(150%);
    cursor: pointer;
}
.btn-accent{
    background-color: var(--coloraccent);
    color: var(--colorsecondary);
}
.subtext{
    font: var(--subtext);
    margin-top: -8px;
}
.contenedor{
    width: min(90%, 90rem);
    margin-inline: auto;
}
.grid{
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit,minmax(min(400px, 100%), 1fr));
}
.text-center{
    text-align: center;
}
/* Header styles */
.header{
    min-height: 100dvh;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto 1fr auto;
    overflow: hidden;
}
.header__glass{
    grid-area: 1 / 1 / 4 / 6;
    z-index: 1;
    min-height: inherit;
    /* Glassmorphism */
    background-color: transparent;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    background-image: linear-gradient(120deg, rgba(13,13,14,0.4), rgba(13,13,14,0.4));
}
.header__title, .main__title{
    color: var(--colorsecondary);
    text-align: center;
    grid-area: 2 / 1 / 4 / 6;
    align-self: center;
    z-index: 2;
    max-width: 870px;
    margin-inline: auto;
    line-height: 1;
    margin-bottom: 0;
    padding-inline: min(3vw, 2rem);
}
.header__title span, .main__title span{
    color: var(--coloraccent);
    text-shadow: 0px 3px 5px var(--colorprimary);
}
.header__blob{
    align-self: center;
    grid-area: 2 / 1 / 3 / 6;
    animation: fade 5s infinite linear alternate-reverse;
    animation-delay: -2s;
    opacity: 0;
}
@media (min-width: 962px){ 
    .header__title{
        grid-area: 1 / 1 / 4 / 6;
    }
    .header__blob{
        grid-area: 1 / 2 / 4 / 6;
    }
}
.header__blob--two{
    animation-delay: -4s;
}
.header__blob--three{
    animation-delay: -7s;
}
@keyframes fade {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
.nav-bar{
    position: fixed;
    top: 2rem;
    left: 50%;
    transform: translate(-50%, 0%);
    z-index: 3;
    background-color: var(--colorprimary);
    padding: 1rem 2rem;
    border-radius: 100vw;
    display: flex;
    align-items: center;
    column-gap: 1rem;
    font-weight: 600;
}
.nav-bar :not([class]){
    color: var(--colorsecondary);
    text-decoration: none;
}
.nav-bar :not([class]):hover{
    color: var(--coloraccent);
}
/* Carrousel styles */
.carrousel{
    width: 100%;
    height: 200px;
    overflow: hidden;
    -webkit-mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
    mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
    display: flex;
    align-items: center;
    position: relative;
}
.carrousel__title{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, 0%);
    color: var(--colorsecondary);
    text-align: center;
    font-size: var(--subtext);
    color: var(--colorgray);
    font-weight: 400;
}
.carrousel__wrapper{
    width: 100%;
    min-width: calc(250px * var(--quantity));
    position: relative;
    list-style: none;
    display: flex;
    align-items: center;
}
.carrousel__item{
    width: 100px;
    position: absolute;
    left: 100%;
    animation: AutoRun var(--time) linear infinite;
    animation-delay: calc(var(--time) / var(--quantity) *  (var(--index) - 1 ) - var(--time));
}
.carrousel__image{
    filter: brightness(0) saturate(100%) invert(78%) sepia(0%) saturate(1124%) hue-rotate(15deg) brightness(99%) contrast(78%);
}
@keyframes AutoRun {
    to{
        left: -250px;
    }
}
/* Main styles */
.main{
    overflow-x: hidden;
}
.main__title{
    font-size: clamp(4rem, 3.8261rem + 0.8696vw, 4.5rem);
    padding: 0;
}
.main__text{
    margin-top: 3rem;
    text-align: center;
    color: var(--colorgray);
    max-width: 700px;
    margin-inline: auto;
}
.main__grid{
    margin-block: 3rem;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: 
        "horror horror horror horror"
        "drama drama comedy comedy"
        "superhero superhero superhero superhero"
        "action action action action"
        "scifi scifi scifi scifi"
    ;
}
@media (min-width: 668px){ 
    .main__grid{
        grid-template-areas: 
            "drama horror horror horror"
            "superhero superhero superhero comedy"
            "action scifi scifi scifi"
        ;
    }
}
@media (min-width: 992px){ 
    .main__grid{
        grid-template-areas: 
            "horror horror comedy action"
            "horror horror superhero superhero"
            "scifi scifi scifi drama"
        ;
    }
}
.card{
    padding: 1rem;
    background-color: var(--colorprimary-700);
    border-radius: .5rem;
    border: 1px solid #373737;
}
.card:nth-child(1){
    grid-area: action;
}
.card:nth-child(2){
    grid-area: comedy;
}
.card:nth-child(3){
    grid-area: drama;
}
.card:nth-child(4){
    grid-area: horror;
}
.card:nth-child(5){
    grid-area: superhero;
}
.card:nth-child(6){
    grid-area: scifi;
}
.card__title{
    color: var(--coloraccent);
    font-weight: 500;
}
.card__text{
    color: var(--colorgray);
}
/* Testimonials */
.testimonial{
    padding-block: 3rem;
    overflow-x: hidden;
}
.testimonial__title{
    text-align: center;
    color: var(--colorsecondary);
    font-size: clamp(4rem, 3.8261rem + 0.8696vw, 4.5rem);
    & font{
        color: var(--coloraccent);
    }
    & span{
        display: block;
    }
}
.testimonial__grid{
    display: grid;
    align-items: flex-start;
    gap: 1.5rem 1rem;
    color: var(--colorsecondary);
}
.testimonial__card{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: flex-start;
    row-gap: 1rem;
    padding: 2rem;
    border-radius: 1rem;
    border: 1px solid #373737;
    background-color: var(--colorprimary);
    backdrop-filter: blur(5px);
}
.testimonial__card:first-child, .testimonial__card:last-child{
    background-color: var(--colorprimary-700);
}
@media (min-width: 768px){ 
    .testimonial__card:first-child, .testimonial__card:last-child{
        grid-column: span 2;
        display: grid;
        /* grid-template-columns: subgrid; */
        grid-template-columns: 2fr 1fr;
    }
    .testimonial__grid{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto auto 10px 10px min-content;
    }
    .testimonial__card:nth-child(2){
        grid-area: 2 / 1 / 4 / 2;
        /* border: 2px solid red; */
    }
    .testimonial__card:nth-child(3){
        grid-area: 2 / 2 / 3 / 3;
        /* border: 2px solid blue; */
    }
    .testimonial__card:nth-child(4){
        grid-area: 4 / 1 / 6 / 2;
        /* border: 2px solid limegreen; */
    }
    .testimonial__card:nth-child(5){
        grid-area: 3 / 2 / 6 / 3;
        /* border: 2px solid yellow; */
    }
}
.testimonial__text{
    font-size: 16px;
    line-height: 170%;
}
.testimonial__profile{
    display: flex;
    align-items: center;
    gap: 1rem;
    & img{
        border-radius: 50%;
    }
    & p{
        font-weight: 600;
    }
    & span{
        color: var(--colorgray);
    }
}
.price{
    overflow-x: hidden;
}
.price__title{
    text-align: center;
    color: var(--colorsecondary);
    font-size: clamp(4rem, 3.8261rem + 0.8696vw, 4.5rem);
    & font{
        color: var(--coloraccent);
    }
    & span{
        display: block;
        color: var(--coloraccent);
    }
}
.price{
    margin-bottom: 5rem;
}
.price__row{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(min(300px, 100%), 1fr));
    gap: 1rem;
}
.price__card{
    padding: 2rem;
    min-height: 400px;
    border-radius: 2rem;
    color: var(--colorgray);
    width: 100%;
    &:first-child{
        border: 1px solid var(--coloraccent);
        background: linear-gradient(to right, var(--colorprimary) 20%, var(--colorprimary-700) 50%);
    }
    & h3{
        font-size: 4.2rem;
        color: var(--colorsecondary);
    }
    & p{
        color: var(--coloraccent);
    }
    & ul{
        font-size: 1.2rem;
        padding-left: 1rem;
        & li{
            padding-left: 7px;
            margin-bottom: 10px;
        }
        & li::marker{
            content: '✓';
            color: var(--colorgray);
        }
    }
    & button{
        padding-block: .5rem;
        margin-top: 2rem;
        width: 100%;
        font-weight: bold;
    }
}
.faq-container {
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 37.5rem;
    padding: min(3vw, 2rem);
    border-radius: 1em;
    background-color: var(--colorprimary);
}
details {
    font-size: 1rem;
    margin: 0 auto;
    width: 100%;
    border-radius: 0.5rem;
    position: relative;
    max-width: 37.5rem;
    transition: var(--transition);
}
details:hover {
    background-color: var(--colorprimary-700);
}
details:hover svg {
    stroke: var(--coloraccent);
}
details[open] {
    background-color: var(--colorprimary-700);
}
details[open] .faq-title {
    color: var(--coloraccent);
}
summary {
    user-select: none;
    cursor: pointer;
    font-weight: 600;
    display: flex;
    list-style: none;
    padding: 1rem;
    align-items: center;
}
summary svg {
    stroke: var(--colorgray);
}
details[open] summary svg {
    stroke: var(--coloraccent);
    transform: rotate(90deg);
} 
summary:hover .faq-title {
    color: var(--coloraccent);
}
summary::-webkit-details-marker {
    display: none;
}
summary:focus {
    outline: none;
}
.faq-title {
    color: var(--colorgray);
    width: 90%;
    transition: var(--transition);
}
.faq-content {
    color: var(--colorgray);
    padding: 0.2rem 1rem 1rem 1rem;
    font-weight: 300;
    line-height: 1.5;
}
.expand-icon {
    pointer-events: none;
    position: absolute;
    right: 1rem;
    transition: var(--transition);
}
/* Footer styles */
.footer{
    background-color: var(--colorprimary);
    padding-block: 2rem;
    color: var(--colorgray);
}
.footer__container{
    width: min(90%, 90rem);
    margin-inline: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}
.footer__ul{
    display: grid;
    row-gap: 1rem;
    & li{
        color: var(--colorgray);
        margin-left: 0.6rem;
        &:first-of-type{
            color: var(--colorsecondary);
            font-size: var(--step-1);
            list-style: none;
            margin-left: 0;
        }
        &::marker{
            font-size: var(--step--2);
        }
    }
}
.footer__grid{
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 2rem 4rem;
}