@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

:root{
    --colorprimary: #0d0d0e;
    --colorsecondary: #FAFAFA;
    --coloraccent: #7f45e2;
    --colorgray: #b8b6b8;
    --ff: "DM Sans", sans-serif;
    --h1: bold 54px var(--ff);
    --h2: bold 36px var(--ff);
    --h3: bold 24px var(--ff);
    --links: bold 18px/18px var(--ff);
    --p: 18px var(--ff);
    --subtext: 12px var(--ff);
    --transition: 0.3s ease-in-out;
}
/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
}
*{
    margin: 0;
    padding: 0;
    font: inherit;
}
body{
    font-size: var(--p);
    font-family: var(--ff);
    min-height: 100vh;
    background-color: var(--colorprimary);
}
img, picture, svg, video{
    display: block;
    max-width: 100%;
}
input, textarea, button, select{
    font: inherit;
}
h1{
    font: var(--h1);
    margin-bottom: 1rem;
}
h2{
    font: var(--h2);
    margin-bottom: .7rem;
}
h3{
    font: var(--h3);
    margin-bottom: .5rem;  
}
:is(h1, h2, h3){
  text-wrap: balance;
}
p{
    font: var(--p);
    margin-bottom: .5rem;
    text-wrap: balance;
}
/* Utilidades */
.links{
    font: var(--links);
    margin-top: 8px;
}
.btn{
    padding: 5px 10px;
    border-radius: 100vw;
    text-decoration: none;
    transition: filter 100ms ease-in;
    white-space: nowrap;
}
.btn:hover{
    filter: saturate(150%);
}
.btn-accent{
    background-color: var(--coloraccent);
    color: var(--colorsecondary);
}
.subtext{
    font: var(--subtext);
    margin-top: -8px;
}
.contenedor{
    width: min(90%, 120rem);
    margin-inline: auto;
}
.grid{
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit,minmax(min(400px, 100%), 1fr));
}
.header{
    min-height: 100dvh;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto 1fr auto;
    overflow: hidden;
}
.header__glass{
    grid-area: 1 / 1 / 4 / 6;
    z-index: 1;
    min-height: inherit;
    /* Glassmorphism */
    background-color: transparent;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    background-image: linear-gradient(120deg, rgba(13,13,14,0.4), rgba(13,13,14,0.4));
}
.header__title{
    color: var(--colorsecondary);
    text-align: center;
    grid-area: 2 / 1 / 4 / 6;
    align-self: center;
    z-index: 2;
    font-size: clamp(3.75rem, 3.0978rem + 3.2609vw, 5.625rem);
    max-width: 870px;
    margin-inline: auto;
    line-height: 1;
    margin-bottom: 0;
    padding-inline: min(3vw, 2rem);
}
.header__title span{
    color: var(--coloraccent);
    text-shadow: 0px 3px 5px var(--colorprimary);
}
.header__blob{
    align-self: center;
    grid-area: 2 / 1 / 3 / 6;
    animation: fade 5s infinite linear alternate-reverse;
    animation-delay: -2s;
    opacity: 0;
}
@media (min-width: 962px){ 
    .header__title{
        grid-area: 1 / 1 / 4 / 6;
    }
    .header__blob{
        grid-area: 1 / 2 / 4 / 6;
    }
}
.header__blob--two{
    animation-delay: -4s;
}
.header__blob--three{
    animation-delay: -7s;
}
@keyframes fade {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
.nav-bar{
    position: fixed;
    top: 2rem;
    left: 50%;
    transform: translate(-50%, 0%);
    z-index: 3;
    background-color: var(--colorprimary);
    padding: 1rem 2rem;
    border-radius: 100vw;
    display: flex;
    align-items: baseline;
    column-gap: 1rem;
    font-weight: 600;
}
.nav-bar :not([class]){
    color: var(--colorsecondary);
    text-decoration: none;
}
.nav-bar :not([class]):hover{
    color: var(--coloraccent);
}
.carrousel{
    width: 100%;
    height: 200px;
    overflow: hidden;
    -webkit-mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
    mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
    display: flex;
    align-items: center;
    position: relative;
}
.carrousel__title{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, 0%);
    color: var(--colorsecondary);
    text-align: center;
    font-size: var(--subtext);
    color: var(--colorgray);
    font-weight: 400;
}
.carrousel__wrapper{
    width: 100%;
    min-width: calc(250px * var(--quantity));
    position: relative;
    list-style: none;
    display: flex;
    align-items: center;
}
.carrousel__item{
    width: 100px;
    position: absolute;
    left: 100%;
    animation: AutoRun var(--time) linear infinite;
    animation-delay: calc(var(--time) / var(--quantity) *  (var(--index) - 1 ) - var(--time));
}
.carrousel__image{
    filter: brightness(0) saturate(100%) invert(78%) sepia(0%) saturate(1124%) hue-rotate(15deg) brightness(99%) contrast(78%);
}
@keyframes AutoRun {
    to{
        left: -250px;
    }
}